In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm

In [2]:
df = pd.read_csv('Data/Finance_Exam_Data.csv')
df['Date'] = pd.to_datetime(df['Date'])

In [3]:
df['Risk- Free-Rate '] = df['Risk- Free-Rate '].fillna(0)

In [4]:
df.head()

,Date,Vodacom,Anglo American,KUMBA,ABSA,Woolworths,ALSE (benchmark),Risk- Free-Rate
0,2007-01-03,28.797146,2805.500000,11899.0,12700.0,23.501499,4.817180,0.185
1,2007-01-04,28.786953,2701.100098,11399.0,12600.0,23.214399,4.715587,0.190
2,2007-01-05,29.510704,2637.360107,11300.0,12286.0,23.006500,4.774849,0.180
3,2007-01-08,28.725790,2560.439941,11000.0,12370.0,23.214399,4.825645,0.175
4,2007-01-09,29.194698,2602.199951,11090.0,12170.0,22.580799,4.808713,0.000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3353 entries, 0 to 3352
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              3353 non-null   datetime64[ns]
 1   Vodacom           3353 non-null   float64
 2   Anglo American    3353 non-null   float64
 3   KUMBA             3353 non-null   float64
 4   ABSA              3353 non-null   float64
 5   Woolworths        3353 non-null   float64
 6   ALSE (benchmark)  3353 non-null   float64
 7   Risk- Free-Rate   3353 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 209.7 KB

In [6]:
stocks = ['Vodacom','Anglo American','KUMBA','ABSA','Woolworths']

In [7]:
for stock in stocks:
    df[f'{stock} Return'] = df[stock].pct_change(periods=1)

In [8]:
df.head()

,Date,Vodacom,Anglo American,KUMBA,ABSA,Woolworths,ALSE (benchmark),Risk- Free-Rate,Vodacom Return,Anglo American Return,KUMBA Return,ABSA Return,Woolworths Return
0,2007-01-03,28.797146,2805.500000,11899.0,12700.0,23.501499,4.817180,0.185,NaN,NaN,NaN,NaN,NaN
1,2007-01-04,28.786953,2701.100098,11399.0,12600.0,23.214399,4.715587,0.190,-0.000354,-0.037213,-0.042020,-0.007874,-0.012216
2,2007-01-05,29.510704,2637.360107,11300.0,12286.0,23.006500,4.774849,0.180,0.025142,-0.023598,-0.008685,-0.024921,-0.008956
3,2007-01-08,28.725790,2560.439941,11000.0,12370.0,23.214399,4.825645,0.175,-0.026598,-0.029166,-0.026549,0.006837,0.009037
4,2007-01-09,29.194698,2602.199951,11090.0,12170.0,22.580799,4.808713,0.000,0.016324,0.016310,0.008182,-0.016168,-0.027293

In [9]:
df['Excess Market Return'] = df['ALSE (benchmark)'] - df['Risk- Free-Rate ']

In [10]:
df.head()

,Date,Vodacom,Anglo American,KUMBA,ABSA,Woolworths,ALSE (benchmark),Risk- Free-Rate,Vodacom Return,Anglo American Return,KUMBA Return,ABSA Return,Woolworths Return,Excess Market Return
0,2007-01-03,28.797146,2805.500000,11899.0,12700.0,23.501499,4.817180,0.185,NaN,NaN,NaN,NaN,NaN,4.632180
1,2007-01-04,28.786953,2701.100098,11399.0,12600.0,23.214399,4.715587,0.190,-0.000354,-0.037213,-0.042020,-0.007874,-0.012216,4.525587
2,2007-01-05,29.510704,2637.360107,11300.0,12286.0,23.006500,4.774849,0.180,0.025142,-0.023598,-0.008685,-0.024921,-0.008956,4.594849
3,2007-01-08,28.725790,2560.439941,11000.0,12370.0,23.214399,4.825645,0.175,-0.026598,-0.029166,-0.026549,0.006837,0.009037,4.650645
4,2007-01-09,29.194698,2602.199951,11090.0,12170.0,22.580799,4.808713,0.000,0.016324,0.016310,0.008182,-0.016168,-0.027293,4.808713

In [11]:
df['Excess Market Return'].iloc[0] = np.nan

C:\Users\clint\AppData\Local\Temp\ipykernel_6364\3425510600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Excess Market Return'].iloc[0] = np.nan

In [12]:
df.head()

,Date,Vodacom,Anglo American,KUMBA,ABSA,Woolworths,ALSE (benchmark),Risk- Free-Rate,Vodacom Return,Anglo American Return,KUMBA Return,ABSA Return,Woolworths Return,Excess Market Return
0,2007-01-03,28.797146,2805.500000,11899.0,12700.0,23.501499,4.817180,0.185,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-01-04,28.786953,2701.100098,11399.0,12600.0,23.214399,4.715587,0.190,-0.000354,-0.037213,-0.042020,-0.007874,-0.012216,4.525587
2,2007-01-05,29.510704,2637.360107,11300.0,12286.0,23.006500,4.774849,0.180,0.025142,-0.023598,-0.008685,-0.024921,-0.008956,4.594849
3,2007-01-08,28.725790,2560.439941,11000.0,12370.0,23.214399,4.825645,0.175,-0.026598,-0.029166,-0.026549,0.006837,0.009037,4.650645
4,2007-01-09,29.194698,2602.199951,11090.0,12170.0,22.580799,4.808713,0.000,0.016324,0.016310,0.008182,-0.016168,-0.027293,4.808713

In [13]:
expected_returns = {
    'Vodacom':df['Vodacom Return'].mean(),
    'Anglo American':df['Anglo American Return'].mean(),
    'KUMBA':df['KUMBA Return'].mean(),
    'ABSA':df['ABSA Return'].mean(),
    'Woolworths':df['Woolworths Return'].mean()
}

In [14]:
expected_returns_df = pd.DataFrame(expected_returns,index=['Expected Returns'])

In [15]:
expected_returns_df

                   Vodacom  Anglo American     KUMBA      ABSA  Woolworths
Expected Returns  0.000067        0.023503  0.000797  0.000205     0.00023

In [16]:
for stock in stocks:
    df[f'Excess {stock}'] = df[f'{stock} Return'] - df['Risk- Free-Rate ']

In [17]:
df.head()

,Date,Vodacom,Anglo American,KUMBA,ABSA,Woolworths,ALSE (benchmark),Risk- Free-Rate,Vodacom Return,Anglo American Return,KUMBA Return,ABSA Return,Woolworths Return,Excess Market Return,Excess Vodacom,Excess Anglo American,Excess KUMBA,Excess ABSA,Excess Woolworths
0,2007-01-03,28.797146,2805.500000,11899.0,12700.0,23.501499,4.817180,0.185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-01-04,28.786953,2701.100098,11399.0,12600.0,23.214399,4.715587,0.190,-0.000354,-0.037213,-0.042020,-0.007874,-0.012216,4.525587,-0.190354,-0.227213,-0.232020,-0.197874,-0.202216
2,2007-01-05,29.510704,2637.360107,11300.0,12286.0,23.006500,4.774849,0.180,0.025142,-0.023598,-0.008685,-0.024921,-0.008956,4.594849,-0.154858,-0.203598,-0.188685,-0.204921,-0.188956
3,2007-01-08,28.725790,2560.439941,11000.0,12370.0,23.214399,4.825645,0.175,-0.026598,-0.029166,-0.026549,0.006837,0.009037,4.650645,-0.201598,-0.204166,-0.201549,-0.168163,-0.165963
4,2007-01-09,29.194698,2602.199951,11090.0,12170.0,22.580799,4.808713,0.000,0.016324,0.016310,0.008182,-0.016168,-0.027293,4.808713,0.016324,0.016310,0.008182,-0.016168,-0.027293

In [18]:
excess_return_matrix = pd.DataFrame()

In [19]:
for stock in stocks:
    excess_return_matrix[f'{stock} Excess'] = df[f'{stock} Return'] - expected_returns_df[stock][0]

In [20]:
excess_return_matrix.head()

,Vodacom Excess,Anglo American Excess,KUMBA Excess,ABSA Excess,Woolworths Excess
0,NaN,NaN,NaN,NaN,NaN
1,-0.000421,-0.060716,-0.042817,-0.008079,-0.012447
2,0.025075,-0.047101,-0.009482,-0.025126,-0.009186
3,-0.026665,-0.052669,-0.027345,0.006632,0.008806
4,0.016257,-0.007193,0.007385,-0.016373,-0.027524

In [21]:
variance_covariance_matrix = excess_return_matrix.cov()

In [22]:
variance_covariance_matrix

,Vodacom Excess,Anglo American Excess,KUMBA Excess,ABSA Excess,Woolworths Excess
Vodacom Excess,0.000362,-0.000187,0.000024,0.000014,0.000009
Anglo American Excess,-0.000187,1.826478,0.000831,0.000668,0.000043
KUMBA Excess,0.000024,0.000831,0.000943,0.000133,0.000016
ABSA Excess,0.000014,0.000668,0.000133,0.000366,0.000003
Woolworths Excess,0.000009,0.000043,0.000016,0.000003,0.000183

In [23]:
variance_covariance_matrix.to_numpy()

array([[ 3.61991990e-04, -1.87351930e-04,  2.43737890e-05,
         1.38638503e-05,  8.57237045e-06],
       [-1.87351930e-04,  1.82647767e+00,  8.30519406e-04,
         6.68314190e-04,  4.29965495e-05],
       [ 2.43737890e-05,  8.30519406e-04,  9.43281402e-04,
         1.32730091e-04,  1.64882887e-05],
       [ 1.38638503e-05,  6.68314190e-04,  1.32730091e-04,
         3.65700412e-04,  3.02810457e-06],
       [ 8.57237045e-06,  4.29965495e-05,  1.64882887e-05,
         3.02810457e-06,  1.82824315e-04]])

In [24]:
weights = [0.2,0.25,0.45,0.05,0.05]

In [25]:
weights = np.array(weights)

In [26]:
weights

array([0.2 , 0.25, 0.45, 0.05, 0.05])

In [27]:
weights.transpose()

array([0.2 , 0.25, 0.45, 0.05, 0.05])

In [28]:
np.matmul(np.matmul(weights,variance_covariance_matrix.to_numpy()),weights)

0.1145592003878631

In [29]:
def portfolio_variance(asset_names,asset_weights):
    asset_weights = np.array(asset_weights)
    var_mat = variance_covariance_matrix.loc[asset_names,asset_names].to_numpy()
    var = np.matmul(np.matmul(asset_weights,var_mat),asset_weights.T)
    print(f'Variance: {var}')

In [30]:
# Vodacom Excess	Anglo American Excess	KUMBA Excess	ABSA Excess	Woolworths Excess

In [31]:
portfolio_variance(asset_names=variance_covariance_matrix.columns,asset_weights=weights)

Variance: 0.1145592003878631

In [32]:
portfolio_variance(asset_names=['ABSA Excess','KUMBA Excess'],asset_weights=[0.6,0.4])

Variance: 0.0003462876162892855

In [33]:
portfolio_variance(asset_names=['Vodacom Excess','KUMBA Excess','Woolworths Excess'],asset_weights=[0.3,0.3,0.4])

Variance: 0.00015712833598748152

In [34]:
portfolio_variance(asset_names=['ABSA Excess','Vodacom Excess','Anglo American Excess'],asset_weights=[0.25,0.25,0.5])

Variance: 0.4567868723082937

In [35]:
portfolio_variance(asset_names=['Anglo American Excess','KUMBA Excess','ABSA Excess','Vodacom Excess'],asset_weights=[0.15,0.3,0.35,0.2])

Variance: 0.04140633865857087

In [36]:
#Q1

In [37]:
df.columns

Index(['Date', 'Vodacom', 'Anglo American', 'KUMBA', 'ABSA', 'Woolworths',
       'ALSE (benchmark)', 'Risk- Free-Rate ', 'Vodacom Return',
       'Anglo American Return', 'KUMBA Return', 'ABSA Return',
       'Woolworths Return', 'Excess Market Return', 'Excess Vodacom',
       'Excess Anglo American', 'Excess KUMBA', 'Excess ABSA',
       'Excess Woolworths'],
      dtype='object')

In [62]:
def emh_test(timeseries):
    pval = adfuller(timeseries,regression='c')[1]
    if pval <= 0.05:
        print(f'With a p-value of {np.round(pval,5)}, we can reject the null hypothesis.\n{timeseries.name} does not follow a random walk\n')
    else:
        print(f'With a p-value of {np.round(pval,5)}, we fail to reject the null hypothesis.\n{timeseries.name} follows a random walk\n')

In [63]:
for stock in stocks:
    emh_test(df[stock])

With a p-value of 0.50787, we fail to reject the null hypothesis.
Vodacom follows a random walk

With a p-value of 0.37853, we fail to reject the null hypothesis.
Anglo American follows a random walk

With a p-value of 0.37645, we fail to reject the null hypothesis.
KUMBA follows a random walk

With a p-value of 0.08644, we fail to reject the null hypothesis.
ABSA follows a random walk

With a p-value of 0.2675, we fail to reject the null hypothesis.
Woolworths follows a random walk

In [61]:
emh_test(df['Anglo American'])

With a p-value of 0.37853, we can reject the null hypothesis.
Anglo American does not follow a random walk

In [66]:
df.head()

,Date,Vodacom,Anglo American,KUMBA,ABSA,Woolworths,ALSE (benchmark),Risk- Free-Rate,Vodacom Return,Anglo American Return,KUMBA Return,ABSA Return,Woolworths Return,Excess Market Return,Excess Vodacom,Excess Anglo American,Excess KUMBA,Excess ABSA,Excess Woolworths
0,2007-01-03,28.797146,2805.500000,11899.0,12700.0,23.501499,4.817180,0.185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-01-04,28.786953,2701.100098,11399.0,12600.0,23.214399,4.715587,0.190,-0.000354,-0.037213,-0.042020,-0.007874,-0.012216,4.525587,-0.190354,-0.227213,-0.232020,-0.197874,-0.202216
2,2007-01-05,29.510704,2637.360107,11300.0,12286.0,23.006500,4.774849,0.180,0.025142,-0.023598,-0.008685,-0.024921,-0.008956,4.594849,-0.154858,-0.203598,-0.188685,-0.204921,-0.188956
3,2007-01-08,28.725790,2560.439941,11000.0,12370.0,23.214399,4.825645,0.175,-0.026598,-0.029166,-0.026549,0.006837,0.009037,4.650645,-0.201598,-0.204166,-0.201549,-0.168163,-0.165963
4,2007-01-09,29.194698,2602.199951,11090.0,12170.0,22.580799,4.808713,0.000,0.016324,0.016310,0.008182,-0.016168,-0.027293,4.808713,0.016324,0.016310,0.008182,-0.016168,-0.027293

In [65]:
reg_df = pd.DataFrame()

In [67]:
y = df['Excess Vodacom']
X = df['Excess Market Return']
X = sm.add_constant(X)

In [68]:
model = sm.OLS(y,X,missing='drop')
results = model.fit()

In [69]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         Excess Vodacom   R-squared:                       0.195
Model:                            OLS   Adj. R-squared:                  0.195
Method:                 Least Squares   F-statistic:                     811.8
Date:                Tue, 25 Oct 2022   Prob (F-statistic):          4.46e-160
Time:                        07:03:46   Log-Likelihood:                -3272.1
No. Observations:                3352   AIC:                             6548.
Df Residuals:                    3350   BIC:                             6560.
Df Model:                           1
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   -1.5497      0.041    -38.205      0.000      -1.629      -1.470
Excess Market Return     0.2488      0.009     28.492      0.000       0.232       0.266
==============================================================================
Omnibus:                      338.016   Durbin-Watson:                   0.414
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              449.472
Skew:                          -0.896   Prob(JB):                     2.50e-98
Kurtosis:                       2.920   Cond. No.                         17.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [74]:
results.pvalues['const']

2.0346111581620485e-265

In [78]:
results.params['const']

-1.5497061868358024

In [86]:
def capm_alpha_significance(dataset,stock):
    y = dataset[f'Excess {stock}']
    X = dataset[f'Excess Market Return']
    X = sm.add_constant(X)

    model = sm.OLS(y,X,missing='drop')
    results = model.fit()

    const_pvalue = results.pvalues['const']
    const_coeff = results.params['const']

    if const_pvalue <= 0.05 and const_coeff < 0:
        print(f'Alpha is significant, however it is negative, therefore abnormal profits are not possible. EMH for {stock} holds.\n')
    elif const_pvalue <= 0.05 and const_coeff < 0:
        print(f'Alpha is positive and signifianct, therefore abnormal profits are possible. EMH for {stock} does not hold.\n')
    else:
        print(f'Alpha is insignificant. EMH for {stock} holds.\n')
    pass

In [87]:
for stock in stocks:
    capm_alpha_significance(df,stock=stock)

Alpha is significant, however it is negative, therefore abnormal profits are not possible. EMH for Vodacom holds.

Alpha is significant, however it is negative, therefore abnormal profits are not possible. EMH for Anglo American holds.

Alpha is significant, however it is negative, therefore abnormal profits are not possible. EMH for KUMBA holds.

Alpha is significant, however it is negative, therefore abnormal profits are not possible. EMH for ABSA holds.

Alpha is significant, however it is negative, therefore abnormal profits are not possible. EMH for Woolworths holds.